body {
  margin: 0;
  padding: 0;
}

#is-service-frame {
  display: none;
}

/* Стили для шапки */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  height: 100px; /* Измените на нужную вам высоту */
  display: flex;
  align-items: center;

  position: relative;
  transition: all 0.3s ease; /* Добавляем плавное изменение стилей */
}

#header.fixed {
  position: fixed;
  background-color: black; /* Новые стили при зафиксированной шапке */
  color: white; /* Новые стили при зафиксированной шапке */
  background-color: black;
  color: white;
  height: 100px; /* Измените на нужную вам высоту */
  display: flex;

  align-items: center;
  justify-content: center;
  z-index: 5;
}

.logo {
  margin-right: 10rem;
  margin-left: 10rem;
}

.logo img {
  max-height: 90px;
}

#header_contacts {
  margin-right: 10rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Чтобы выровнять кнопки по вертикали с логотипом */
}

nav ul li {
  margin-right: 50px; /* Расстояние между кнопками */
  margin-bottom: 10px; /* Добавляем отступ снизу для кнопок */
}

nav ul li:last-child {
  margin-right: 0; /* У последней кнопки нет правого отступа */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Стили для ховера */
nav ul li a:hover {
  color: #f36366; /* Изменяем цвет текста на красный при ховере */
}

nav ul li:first-child a {
  white-space: nowrap;
}

/* Стили для красной линии */
.red-line {
  height: 5px; /* Высота линии */
  background-color: #f36366; /* Цвет линии */
  bottom: 0; /* Помещаем линию внизу шапки */
  left: 0; /* Начало линии слева */
  right: 0; /* Конец линии справа */
}
/* Стили для блока карусель */
.about {
  background-image: url('assets/background_main_dark.png'); /* Замените на путь к вашей фоновой картинке */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  padding: 4rem 0;
  text-align: center;
  min-width: 41rem;
}

.carousel {
  position: relative;
  min-width: 45rem; /* Можно изменить в зависимости от желаемого размера */
  max-width: 45rem;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-inner .carousel-item {
  text-align: center;
  color: white; /* Цвет текста, чтобы он выделялся на тёмном фоне */
}

.carousel-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  align-items: center;
  height: 35rem;
}

.carousel-item {
  width: 100%; /* Каждый слайд занимает 100% ширины .carousel-inner */
  height: 100%;
  left: 100%; /* Стартовая позиция каждого слайда - за пределами видимой области */
  transition: left 0.5s ease-in-out; /* Плавная анимация для смещения */
}

.carousel-item.active {
  left: 0; /* Активный слайд позиционируем в начале контейнера */
}

.carousel-item img {
  max-width: 100%; /* Максимальная ширина изображения - 100% от ширины слайда */
  max-height: 100%; /* Максимальная высота изображения - 100% от высоты слайда */
  object-fit: cover; /* Изображение будет покрывать весь слайд, сохраняя свои пропорции */
  display: block;
  margin: auto;
}

.carousel-control {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white; /* Цвет стрелок */
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 5;
  border-radius: 10px;
}

.carousel-control:hover {
  border: 1px solid #f36365;
  border-radius: 10px;
  color: #ff3134;
  background-color: black;
  opacity: 0.8;
}

.carousel-control.prev {
  left: 0;
}

.carousel-control.next {
  right: 0;
}

.button-partner a {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  color: white; /* Цвет подписей */
  border: 2px solid #f36365;
  border-radius: 10px;
  color: #000000;
  background-color: #f36365;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}

.button-partner a:hover {
  border: 2px solid #000000;
  transition: 0.6s ease;
}

/* Раздел для продуктов ================================================================*/
.products {
  text-align: center;
  justify-content: center;
  min-width: 41rem;
}

.products h2 {
  font-size: 2rem;
  color: #f36366;
}

.сategory {
  padding: 65px;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 столбцов */
  gap: 20px; /* Расстояние между кнопками */
  align-content: space-around; /* Выравнивание по вертикали по центру */
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  min-width: 20rem;
  min-height: 20rem;
  text-decoration: none;
}

.item:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.item img {
  width: 80%;
  height: 80%;
}

/* Раздел Гарантия  ==================================================================*/

.guarantee {
  height: 30rem 0;
  min-width: 41rem;
  background-image: url('assets/rukopojatie.jpg');
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 100px 150px;
}

.guarantee-content {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #d65e5d;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
  max-width: 86%;
  min-width: 30rem;
  z-index: 1; /* Помещаем контент над фоном */
  margin: 0 auto; /* Центрируем контент по горизонтали */
  position: relative;
}

.guarantee h2 {
  font-size: 35px;
  font-weight: bold;
}

.guarantee p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 2.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Немного серый цвет текста */
.guarantee-content h2,
.guarantee-content p {
  color: rgb(214, 214, 214);
}

/* Раздел Контакты  ==================================================================*/

.contacts {
  min-width: 41rem;
  height: 30rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-container {
  padding: 10px;
  margin: 2rem auto;
}

.contacts h2 {
  font-size: 35px;
  font-weight: bold;
}

.icon {
  font-size: 20px;
  margin: 1rem;
  border: 1px solid #d65e5d;
  border-radius: 10px;
  max-width: 30rem;
  min-width: 15rem;
  max-height: 15rem;
  min-height: 5rem;
  text-align: center;
  justify-content: center;
}

.contacts p {
  font-style: normal;
  font-size: 1.5rem;
}

#mail img,
#number img {
  width: 35px;
}

.support {
  min-width: 41rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-container {
  border: 2px solid #d65e5d;
  border-radius: 10px;
  padding: 1rem;
}

.support input {
  width: 30rem;
  height: 2rem;
  border: 1px solid #d65e5d;
  border-radius: 5px;
}

.support textarea {
  width: 30rem;
  height: 5rem;
  border: 1px solid #d65e5d;
  border-radius: 5px;
}

.support label {
  display: flex;
  justify-content: start;
  margin-top: 1rem;
}

.support button {
  border: 1px solid #d65e5d;
  border-radius: 5px;
  height: 1.5rem;
}

footer {
  min-width: 41rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  color: white;
  height: 100px; /* Измените на нужную вам высоту */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

footer img {
  width: 10%;
  margin: 2rem;
}

footer p {
  color: rgb(126, 126, 126);
}

/* Медиазапрос для узких экранов (например, меньше 810px) */
@media (max-width: 1400px) {
  nav ul li {
    margin-right: 3rem; /* Убираем правый отступ между кнопками */
  }

  .logo {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  #header_contacts {
    margin-right: 5rem;
  }

  .сategory {
    padding-left: 10px;
  }

  .guarantee {
    padding: 100px 0;
  }

  .guarantee p {
    font-size: 19px;
    margin-top: 20px;
    line-height: 1.5rem;
  }
}

@media (max-width: 821px) {
  .logo {
    position: relative;
    margin-right: 50px;
    margin-left: 3rem;
    z-index: 10;
  }

  #header_contacts {
    margin-right: 3rem;
  }

  nav ul {
    align-items: center; /* Выравниваем кнопки по центру */
    margin-left: 1rem;
  }

  nav ul li {
    margin-right: 15px; /* Убираем правый отступ между кнопками */
  }

  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
  }

  .products h2 {
    padding-top: 2rem;
  }

  .сategory {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 столбцов */
    gap: 4px; /* Расстояние между кнопками */ /* Расстояние между кнопками */
    margin: 5rem auto;
  }

  .guarantee-content {
    max-width: 95%;
    min-width: 8rem;
    margin: 3rem;
  }

  .guarantee h2 {
    font-size: 30px;
  }

  .guarantee p {
    font-size: 16px;
    margin-top: 5px;
    line-height: 1.1rem;
  }

  .support input,
  textarea {
    max-width: 23rem;
  }
}
/*
@media (max-width: 430px) {
  nav ul {
    align-items: center; // Выравниваем кнопки по центру 
    min-width: 204px;
  }
  nav ul li {
    margin-right: 10px; // Убираем правый отступ между кнопками 
    margin-bottom: 0px; // Добавляем отступ снизу для кнопок 
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  #header {
    left: 0.3rem;
    right: 0.3rem;
  }

  #header1 {
    width: 1.7rem;
  }

  #header2 {
    left: 7.8rem;
  }

  .logo {
    position: relative;
    margin-top: 2rem;
    margin-right: 50px;
    margin-left: 2rem;
    z-index: 10;
  }

  .logo img {
    max-width: 5.5rem; // Уменьшаем размер логотипа на узких экранах 
    min-width: 70px;
  }

  .about-content {
    margin-top: 1rem;
  }

  .about-content h2 {
    font-size: 1rem;
  }
  .about-content p {
    font-size: 0.7rem;
  }

  .сategory {
    border: none;
    padding: 5px;
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 6 столбцов 
    gap: 2px; // Расстояние между кнопками 
  }

  .item {
    min-width: 3rem;
  }

  .guarantee-content {
    max-width: 95%;
    min-width: 8rem;
  }

  .guarantee p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 1.1rem;
  }

  .support-container {
    border: 1px solid #d65e5d;
    border-radius: 10px;
    padding: 1rem;
  }

  .support input,
  textarea {
    max-width: 20rem;
  }
}
*/
