body {
  margin: 0;
  padding: 0;
}

#is-service-frame {
  display: none;
}

/* Стили для шапки */
header {
  position: relative;
  background-color: black;
  color: white;
  height: 100px; /* Измените на нужную вам высоту */
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.3s ease; /* Добавляем плавное изменение стилей */
  min-width: 41rem;
  z-index: 5;
}

.red-line-under-header {
  height: 5px; /* Высота линии */
  background-color: #f36366; /* Цвет линии */
  bottom: 0; /* Помещаем линию внизу шапки */
  left: 0; /* Начало линии слева */
  right: 0; /* Конец линии справа */

  min-width: 41rem;
  position: relative;
  z-index: 6;
}

#header.fixed {
  position: fixed;
  background-color: black; /* Новые стили при зафиксированной шапке */
  color: white; /* Новые стили при зафиксированной шапке */
  height: 100px; /* Измените на нужную вам высоту */
  display: flex;
  align-items: center;
  z-index: 5;
  min-width: 41rem;
}

.logo {
  margin-right: 10rem;
  margin-left: 8rem;
}

.logo img {
  max-height: 90px;
}

#header_contacts {
  margin-right: 10rem;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center; /* Чтобы выровнять кнопки по вертикали с логотипом */
}

nav ul li {
  margin-right: 50px; /* Расстояние между кнопками */
  margin-bottom: 10px; /* Добавляем отступ снизу для кнопок */
}

nav ul li:last-child {
  margin-right: 10px; /* У последней кнопки нет правого отступа */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Стили для ховера */
nav ul li a:hover {
  color: #f36366; /* Изменяем цвет текста на красный при ховере */
}

nav ul li a {
  white-space: nowrap;
}
/* Стили для красной линии */
.red-line {
  height: 5px; /* Высота линии */
  background-color: #d65e5d; /* Цвет линии */
  bottom: 0; /* Помещаем линию внизу шапки */
  left: 0; /* Начало линии слева */
  right: 0; /* Конец линии справа */
  min-width: 41rem;
}

.wrapper {
  background-image: url('../assets/background_main_dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-width: 41rem;
}
.category {
  display: flex;
  align-items: flex-start;
  min-width: 41rem;
  height: 100%;
  /* background-image: url('../assets/background_main_dark.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%; */
}

.sidebar {
  border: 2px solid #000000;
  border-radius: 10px;
  min-width: 13rem;
  align-self: flex-start;
  /* margin: 20rem 3rem; */
  position: relative;
  margin-left: 3rem;
  margin-right: 2rem;
  top: 3rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #d65e5d;
  z-index: 1;
}

.sidebar h2 {
  font-size: 2rem;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.sidebar ul li {
  margin-top: 2rem;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1.5rem;
}
.sidebar ul li a:hover {
  color: #f0f0f0; /* Изменяем цвет текста на красный при ховере */
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.container-products {
  margin-top: 3rem;
  margin-bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #d65e5d;
  border-radius: 10px;
  padding: 10px;
  margin-right: 1rem;
  /* max-width: 80%;
  min-width: 75%; */
  width: 100%;
  min-height: 75%;
  z-index: 1; /* Помещаем контент над фоном */
  top: 12rem;
}

.container-products h1 {
  color: #d65e5d;
  text-align: center;
  margin-top: 0;
  width: 100%;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 6 столбцов */
  /* grid-template-rows: repeat(4, 1fr);*/ /*6 столбцов */
  gap: 20px; /* Расстояние между карточками */
  justify-items: center;
  margin-bottom: 2rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d65e5d;
  border-radius: 5px;
  width: 12rem;
  margin-bottom: 1rem;
  height: 100%;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.product-card img {
  max-width: 150px;
  margin-top: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.2rem;
}
.product-card h5 {
  color: #d65e5d;
  text-align: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  text-transform: uppercase;
}

.product-card p {
  color: #d65e5d;
  margin: 0;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
  z-index: 3; /* Отображается поверх других элементов */
  left: 0;
  top: 0;
  width: 100vw; /* Ширина вьюпорта */
  height: 100vh; /* Высота вьюпорта */
}
.modal-overlay {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6); /* Черный с небольшой прозрачностью */
  position: fixed; /* Фиксированное позиционирование относительно вьюпорта */
  left: 0;
  top: 0;
  width: 100vw; /* Ширина вьюпорта */
  height: 100vh; /* Высота вьюпорта */
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: 15rem 20rem; /* 15% от верха и по центру */
  padding: 20px;
  border: 1px solid #888;
  min-width: 28rem;
  min-height: 60%;
  margin-right: 1rem;
  opacity: 100%;
  z-index: 4;
  border: 2px solid #d65e5d;
  border-radius: 10px;
  background: #1a1a1a;
}

.modal-content img {
  width: 500px;
  height: 500px;
  border: 2px solid #d65e5d;
  border-radius: 10px;
  margin-right: 1rem;
}

.textInfo {
  color: #d65e5d;
}

.textInfo p,
h3 {
  color: #e4e4e4;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  nav ul li {
    margin-right: 3rem; /* Убираем правый отступ между кнопками */
  }

  .logo {
    margin-right: 3rem;
    margin-left: 3rem;
  }

  #header_contacts {
    margin-right: 3rem;
  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }
  .sidebar {
    margin-right: 1rem;
  }
}

@media (max-width: 1100px) {
  .product-card {
    width: 9rem;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-card h5 {
    font-size: 11px;
  }
  .product-card img {
    max-width: 60%;
    margin-top: 1rem;
    border-radius: 5px;
    margin-bottom: 0.2rem;
  }

  .modal-content {
    min-width: 45rem;
  }

  .modal-content img {
    width: 350px;
    height: 350px;
    border: 2px solid #d65e5d;
    border-radius: 10px;
    margin-right: 1rem;
  }
}

@media (max-width: 821px) {
  .logo {
    position: relative;
    margin-right: 2rem;
    margin-left: 2rem;
    z-index: 10;
  }

  #header_contacts {
    margin-right: 2rem;
  }

  nav ul {
    align-items: center; /* Выравниваем кнопки по центру */
  }

  nav ul li {
    margin-right: 15px; /* Убираем правый отступ между кнопками */
  }
  nav ul li:last-child {
    margin-right: 25px; /* Убираем правый отступ между кнопками */
  }

  nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95rem;
  }

  .sidebar {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: 8rem;
  }

  .sidebar ul li a {
    font-weight: 600;
    font-size: 1.3rem;
  }

  .container-products {
    top: 9rem;
    margin-right: 0.5rem;
  }
  .product-card {
    width: 8rem;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .product-card h5 {
    font-size: 10px;
  }
  .product-card img {
    max-width: 60%;
    margin-top: 1rem;
    border-radius: 5px;
    margin-bottom: 0.2rem;
  }

  .modal-content {
    min-width: 35rem;
  }

  .modal-content img {
    width: 250px;
    height: 250px;
    border: 2px solid #d65e5d;
    border-radius: 10px;
    margin-right: 1rem;
  }
}

/*
@media (max-width: 430px) {
  nav ul {
    align-items: center; 
    min-width: 204px;
  }
  nav ul li {
    margin-right: 10px; // Убираем правый отступ между кнопками 
    margin-bottom: 0px; // Добавляем отступ снизу для кнопок 
  }

  nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }

  #header {
    left: 0.3rem;
    right: 0.3rem;
  }

  #header1 {
    width: 1.7rem;
  }

  #header2 {
    left: 7.8rem;
  }

  .logo {
    position: relative;
    margin-top: 2rem;
    margin-right: 50px;
    margin-left: 2rem;
    z-index: 10;
  }

  .logo img {
    max-width: 5.5rem; // Уменьшаем размер логотипа на узких экранах 
    min-width: 70px;
  }
}
*/
